@model ProfileView;


   <table class="table table-hover">
        <thead>
            <tr>
                <td>Student Name</td>
                <td>Email</td>
                <td>Delete</td>
            </tr>
        </thead>
     @foreach (var orders in Model.UserProfile)
     {
    <tr>
    <td><h4>@orders.FirstName</h4></td>
    <td>@orders.Email</td>
    <td>@orders.Id</td>
    <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteUser" asproute-id="@orders.Id">Delete</a></td>
    </tr>
    }
    </table>
        

      
