@model EditUserViewModel;
@{
    ViewBag.Title = "Student List";
    Layout = "_AdminLayout";
}

   <table class="table table-hover">
        <thead>
            <tr>
                <td>Student Name</td>
                <td>Email</td>
                <td>Delete OR Edit</td>
            </tr>
        </thead>
     @foreach (var orders in Model.Users)
     {
    <tr>
    <td><h4>@orders.FirstName</h4></td>
    <td>@orders.Email</td>
    <td>
        <a class="btn btn-success" asp-controller="admin" asp-action="EditUser" asp-route-id="@orders.Id">Edit</a>
        <form method="post" asp-action="DeleteUser" asp-route-id="@orders.Id">
            <button type="submit" class="btn btn-danger">Delete</button>
            </form></td>
    </tr>
    }
    </table>
        

      
