@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="font-weight-bold text-center">
<h1>Contact Us</h1>
<h4>Email Us</h4>
<a href="mailto:computing@unf.edu" >computing@unf.edu</a>
<h4>Phone Number</h4>
<p >(904) 620-2985</p>
</div>
</body>