@model Competition

<div>
    <h1>Edit Competition</h1>
</div>

<!--Form for editing a competition-->
<form method="post">
    <div>
        <label asp-for="CompetitionName">Name</label><br>
        <input asp-for="CompetitionName" type="text" size="30" autofocus><br>
        <span asp-validation-for="CompetitionName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CompetitionDate">Date</label><br>
        <input asp-for="CompetitionDate" type="date"><br>
        <span asp-validation-for="CompetitionDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CompetitionStartTime">Start time</label><br>
        <input asp-for="CompetitionStartTime" type="time"><br>
        <span asp-validation-for="CompetitionStartTime" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CompetitionEndTime">End time</label><br>
        <input asp-for="CompetitionEndTime" type="time"><br>
        <span asp-validation-for="CompetitionEndTime" class="text-danger"></span>
    </div>
    <div> <!--FIXME, location is not nullable in the database, need to adjust it somehow-->
        <label asp-for="CompetitionLocation">Location if known</label><br>
        <input asp-for="CompetitionLocation" type="text" size="30">
    </div>
    <div>
        <label asp-for="CompetitionDescription">Description</label><br>
        <textarea asp-for="CompetitionDescription" rows="5" cols="100"></textarea>
    </div>
    <div>
        <label asp-for="CompetitionMaxTeamSize">Maximum team size</label><br>
        <input asp-for="CompetitionMaxTeamSize" type="number" min="1" step="1" max="99" value="3">
    </div><br>
    <div>
        <input type="submit" value="Save changes" class="btn btn-primary">
        <a asp-controller="CompetitionAdmin" asp-action="CompetitionManagement" class="btn btn-secondary">Back</a>
    </div>
</form>

<!--FIXME, figure out how to run the partial script for client side validation-->