@model TeamViewModel

@{
    ViewData["Title"] = "View all teams";
}

<h1>@ViewData["Title"]</h1>
<div class="panel panel-default todo-panel">
    <div class="panel-heading">Team List</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>Team Name</td>
                <td>Number of Members</td>
                <td>Is Joinable</td>
                <td>View Team Information</td>
            </tr>
        </thead>

        @foreach (var team in Model.Teams){
            <tr>
                <td>
                    @team.Name
                </td>
                <td>
                    @team.NumberOfMembers
                </td>
                <td>
                    @team.LookingForMembers
                </td>
                <td>
                    <button>Team Info</button>
                </td>
            </tr>
        }

    </table>

</div>